---

- name: Install Nagios Plugins and NRPE
  package:
    name: "{{ item }}"
    state: latest
  with_items:
    - nagios-plugins
    - nagios-nrpe-server

- name: Configure allowed Nagios master hosts
  lineinfile:
    path: /etc/nagios/nrpe.cfg
    regexp: "^allowed_hosts="
    line: "allowed_hosts={{ nagios_master.hosts|join(',') }}"
  notify: restart nrpe

- name: Override dont_blame_nrpe
  lineinfile:
    path: /etc/nagios/nrpe.cfg
    regexp: "^dont_blame_nrpe="
    line: "dont_blame_nrpe=1"
  notify: restart nrpe

- name: Custom NRPE process command - HAProxy
  lineinfile:
    path: /etc/nagios/nrpe.cfg
    line: "command[check_haproxy]=/usr/lib/nagios/plugins/check_procs -w 1 -C haproxy"
    insertafter: '^command\['
  notify: restart nrpe

- name: Custom NRPE process command - Apache
  lineinfile:
    path: /etc/nagios/nrpe.cfg
    line: "command[check_apache]=/usr/lib/nagios/plugins/check_procs -w 2:5 -c 1:500 -C apache2"
    insertafter: '^command\['
  notify: restart nrpe
